@import "./variables/global";
@import "./reset";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/brown";

body {
  overflow: hidden;
}

.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.app_redesigned {
  background-color: var(--bg-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.content-page {
  display: flex;
  position: relative;
}

.content-bar {
  width: calc(100% - var(--sidebar-width));
  position: absolute;
  left: var(--sidebar-width);
  transition: transform 300ms;
}

.content-bar_collapsed {
  left: calc(var(--sidebar-width) + var(--sidebar-width-collapsed));
  width: calc(100% - calc(var(--sidebar-width) + var(--sidebar-width-collapsed)));
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-colorprimary-color);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}
