.ArticleDetails {
  display: block;
  margin-bottom: 32px;
}

.avatar {
  margin: 0 auto;
}

.icon {
  width: 18px;
  height: 18px;
}

.header {
  margin-bottom: 24px;
}

.block {
  margin-bottom: 16px;
}
