.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: transform 300ms;
  z-index: 10;

  .switchers {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 10px;
    left: 5px;
    right: 5px;
  }

  .toggleBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
    z-index: 1000;
  }

  .languageSwitcher {
    color: var(--inverted-primary-color);
  }

  .list {
    margin-top: 20px;
    margin-left: 30px;
  }
}

.collapsed {
  transform: translateX(var(--sidebar-width-collapsed));

  .switchers {
    flex-direction: column;
    align-items: end;
  }
}

// redesigned
.SidebarRedesigned {
  position: relative;
  background: var(--light-bg-redesigned);
  height: 100%;
  width: 220px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  transition: width 300ms;

  .appLogo {
    padding-top: 20px;
    width: 50px;
    height: 70px;
    align-self: center;
  }

  .list {
    margin-top: 40px;
  }

  .collapseBtn {
    position: absolute;
    right: 0;
    bottom: 49%;
    z-index: 1000;
    transform: rotate(90deg);
  }

  .switchers {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 40px;
    width: 100%;
    gap: 16px;
  }
}

.collapsedRedesigned {
  width: 50px;

  .list {
    display: flex;
    align-items: center;
  }

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .collapseBtn {
    transform: rotate(-90deg);
  }
}
