// Redesigned
.listItemRedesigned {
  display: flex;
  justify-content: start;
  width: 100%;

  .listTitle {
    margin-left: 10px;
    opacity: 1;
    width: fit-content;
    white-space: nowrap;
  }
}

.itemRedesigned {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 8px;
}

.collapsedRedesigned {
  .listTitle {
    opacity: 0;
    transition: 0.1s opacity;
    width: 0;
    margin-left: 0;
  }
}

.active {
  border-left: 2px solid var(--accent-redesigned);
  background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
}

// Deprecated
.listItem {
  display: flex;
  justify-content: start;

  .link {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 13px;
    flex-grow: 1;
  }

  .listTitle {
    margin-left: 10px;
    opacity: 1;
  }

  .listIcon path {
    stroke: var(--inverted-secondary-color);
  }

  .collapsed {
    .listItem {
      justify-content: end;
    }

    .link {
      flex-direction: row-reverse;
    }

    .listTitle {
      opacity: 0;
    }
  }
}
