.ArticleList {
  display: block;
}

.LIST {
  .card {
    margin: 0 0 30px;
    padding: 0;
  }
}

.TABLE {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;

  >div {
    padding: 15px;
  }
}
