.Code {
  border: 1px solid var(--primary-color);
  padding: 20px;
  position: relative;
  background: var(--code-bg);
  min-height: 80px;
  overflow: auto;
}

.copyBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.copyIcon {
  width: 35px;
  height: 35px;
}
