.app_brown_theme {
  --bg-color: #8b6431;
  --inverted-bg-color: #fbf8f4;
  --primary-color: #fbf8f4;
  --secondary-color: #6d2c26;
  --inverted-primary-color: #8b6431;
  --inverted-secondary-color: #6d2c26;
}
