.app_brown_theme {
  --bg-color: #8b6431;
  --inverted-bg-color: #fbf8f4;
  --primary-color: #fbf8f4;
  --secondary-color: #6d2c26;
  --inverted-primary-color: #8b6431;
  --inverted-secondary-color: #6d2c26;
  --skeleton-color: #f1d8bc;
  --skeleton-shadow: #e0bc89;
  --code-bg: #ce9148;
  --card-bg: #cb8f46;
  --listbox-bg: #cb8f46;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;
}
