.app_dark_theme {
  --bg-color: #292d32;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #ccc;
  --secondary-color: #84ff04;
  --inverted-primary-color: #111;
  --inverted-secondary-color: #0449e8;
}
