.app_dark_theme {
  --bg-color: #292d32;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #ccc;
  --secondary-color: #84ff04;
  --inverted-primary-color: #111;
  --inverted-secondary-color: #0449e8;
  --skeleton-color: #a1a1d2;
  --skeleton-shadow: #8484fa;
  --code-bg: #778191;
  --card-bg: #4e5260;
  --listbox-bg: #4e5260;
}
