.app.dark {
  --bg-color: #292D32;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #cccccc;
  --secondary-color: #84ff04;
  --inverted-primary-color: #111111;
  --inverted-secondary-color: #0449e8;
}
