.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #292d32;
  --primary-color: #111;
  --secondary-color: #003779;
  --inverted-primary-color: #ccc;
  --inverted-secondary-color: #84ff04;
  --skeleton-color: #383b38;
  --skeleton-shadow: #363a34;
  --code-bg: #c4c4c4;
}
