.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #292D32;

  --primary-color: #111111;
  --secondary-color: #0449e8;
  --inverted-primary-color: #cccccc;
  --inverted-secondary-color: #84ff04;
}
