.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #292d32;
  --primary-color: #111;
  --secondary-color: #003779;
  --inverted-primary-color: #ccc;
  --inverted-secondary-color: #84ff04;
  --skeleton-color: #383b38;
  --skeleton-shadow: #363a34;
  --code-bg: #c4c4c4;
  --card-bg: #afaeae;
  --listbox-bg: #afaeae;

  // redesigned
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --accent-redesigned: #00c8ff;
}
