.ArticleDetailsPage {
  display: block;
  min-height: 100%;
}

.commentTitle,
.recommendationsTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

.recommendations {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.recommendationsBody {
  height: 320px;
  width: 100%;
}
