.Dropdown {
  position: relative;
  width: fit-content;
}

.button {
  display: flex;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.menu {
  background: var(--card-bg);
  position: absolute;
  z-index: 1000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 4px 12px var(--card-bg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
  white-space: nowrap;
}

.active {
  background: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.5;
}

.optionUpRight {
  bottom: 100%;
  right: 0;
  align-items: end;
}

.optionUpLeft {
  bottom: 100%;
  left: 0;
  align-items: start;
}

.optionDownRight {
  right: 0;
  align-items: start;
}

.optionDownLeft {
  left: 0;
  align-items: start;
}
